body{
    background-color: #dddddd;
    margin: 24px;
    width: 780px;
    height: 400px;
}
a{
    text-decoration: none;
    font-size: 50px;
  }
  a:hover{
    color: rgb(10, 220, 220);
  }
  .icon{
    margin-top: 2px;
    /* margin-left: 20px; */
    align-self: self-start;
    text-decoration: none;
  }
.container{
    width: 480px;
    height: 320px;
    background-image: url(./timer.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
    
}
.timer{
    width: 335px;
    height: 150px;
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: rgb(183, 179, 179);
    margin-top: 64px;
    margin-left: 40px;
}
.timer__part{
    font-size: 100px;
    font-weight: bold;
}
.timer__btn{
width: 50px;
height: 50px;
margin-left: 16px;
border-radius: 50%;
border: none;
color: white;
background-color: #9d00ff;
cursor: pointer;
}
.timer__btn--start{
    background: #06a631;
}
.timer__btn--stop{
    background: #ff0000;
}